@import "Null.css";
*{
    margin-top: 0
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
    padding: 40px;
}

.Wrapper {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: row-reverse;
    background: #FFFFFF;
}
.main-content{
    padding-right: 30px;
    padding-left: 30px;

}
.main-content p{
    color: #595959;
}
.my-profession{
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    margin-bottom: 18px;
}
.my-describe{
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    color: #595959;
}
h1{
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-size: 35px;
    line-height: 55px;

    color: #000000;
}

a {
    color: #0000FF;
    text-decoration: none;
}

.my-project{
    max-width: 102px;
    max-height: 27px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;


    color: #000000;

}
.project-describe{
   margin: 10px 0 10px 0 ;
}
.line{
    display: inline-block;
    width: 98px;
    border-bottom: 1px dashed #000;
}
.line1{
    display: inline-block;
    width: 105px;
    border-bottom: 1px dashed #000;
}
.line2{
    display: inline-block;
    width: 70px;
    border-bottom: 1px dashed #000;
}


ol {
    padding-inline-start: 20px;
}
ul {
    padding-inline-start: 20px;
}
.container-header{
    margin-top: 66px;

}
.container-header h2{
    font-weight: 700;

}
.container-header ol li::marker {
    font-weight: bold; /* Задаємо жирність для нумерації */
}
:-webkit-any(article, aside, nav, section) h1 {
    margin-bottom:28px;
}
.list{
    padding-left: 38px;
}

/*Навчання*/
.Education h5{
    margin-bottom: 10px;
}
.Education h4{
    margin-bottom: 10px;
}
.Contacts{
    font-size: 14px;
}
.Education p {
    font-size: 14px;
}
.Education .school {
    padding-left: 15px;
    margin-bottom: 30px;
}
.Education .university{
    padding-left: 15px;
    margin-bottom: 30px;
}

/* aside */

.aside {
    flex: 1; /* Розтягуємо aside на всю доступну ширину */
    background: #E0EBFE;
    border-radius: 0;
    padding: 20px; /* Додайте відступи за потребою */
}
.aside span{
    margin: 0;
    font-weight: 700;
}

.img {
    min-width: 253px;
    max-height: 270px;
    background: #B1CCFF;
}

.link {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 10px;

}
.highlight{
    background: #f5ebd5;
}
.link a:hover {
    background: #f5ebd5;
    border-radius: 50px;
}
.link a:visited {
    color: #fa0000;
    border-radius: 50px;
}
.Experience{
    margin-top: 50px;
}
.img-link {
    width: 40px;
}
.img-link:nth-child(2){
    width: 50px;
}
.number{
    color: #000000;
    text-decoration: none;
}
